<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
模板取值：{{ msg }}
<p>模板变量</p>
<p>字符串:{{ str_data }}</p>
<p>字典:{{ dict_data.tom }},{{ dict_data.cat }}</p>
<p>对象:{{ obj_data.name }},{{ obj_data.age }}</p>
<p>列表:{{ list_data.0 }},{{ list_data.1 }}</p>
<p>元组:{{ tuple_data.0 }},{{ tuple_data.2 }}</p>
<h3>模板标签示例</h3>
<!-- for循环 -->
{% for item in list_data %}
    <p>第{{ forloop.counter }}项：{{ item }}
        {% if forloop.first %}
            -> 这是第一项
        {% elif forloop.last %}
            -> 这是最后一项
        {% endif %}
    </p>
{% endfor %}

<!-- if条件 -->
<p>条件判断：</p>
{% if str_data == "模板变量示例" %}
    <p>匹配成功！</p>
{% else %}
    <p>匹配失败！</p>
{% endif %}

<!-- url标签 -->
<p>路由反向解析</p>
<a href="{% url 'index' %}">跳转到首页</a>

<p>内置过滤器</p>
capfirst:{{ msg | capfirst }} <br>
length:{{ msg | length }} <br>
date:{{ date | date:'Y-m-d H:i:s' }} <br>
</body>
</html>