<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<form method="post" action="/login">
    {% csrf_token %}
    <table>
        <tr>
            <th>用户登录</th>
        </tr>
        <tr>
            <td>
                用户名:<input type="text" name="user_name">
            </td>
        </tr>
        <tr>
            <td>
                密码:<input type="password" name="pwd">
            </td>
        </tr>
        <tr>
            <td>
                提交:<input type="submit" name="提交">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <font color="red">{{ error_info }}</font>
            </td>
        </tr>
    </table>
</form>
</body>
</html>